/* --- Manage subscriptions ------------------------------------------------ */
form.kssattr-formname-manage_subscriptions div#formfield-form-widgets-tags span#form-widgets-tags,
form.kssattr-formname-manage_subscriptions div#formfield-form-widgets-events span#form-widgets-events {
  float: left;
  width: 100%;
}

form.kssattr-formname-manage_subscriptions div#formfield-form-widgets-tags span#form-widgets-tags span.option,
form.kssattr-formname-manage_subscriptions div#formfield-form-widgets-events span#form-widgets-events span.option {
  float: left;
  min-width: 20%;
}

form.kssattr-formname-manage_subscriptions div#formfield-form-widgets-tags,
form.kssattr-formname-manage_subscriptions div#formfield-form-widgets-events {
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #CCCCCC;
  padding: 10px;
  margin-left: 0px;
}

form.kssattr-formname-manage_subscriptions div#formfield-form-widgets-events,
form.kssattr-formname-manage_subscriptions div.formControls {
  margin-top: 30px;
}

form.kssattr-formname-manage_subscriptions div.formControls input {
  padding: 5px 30px;
}

form.kssattr-formname-manage_subscriptions div.formControls #form-buttons-cancel {
  float: right;
}

form.kssattr-formname-manage_subscriptions .formHelp {
  color: #A6A6A6;
}

/* --- Notifications center (browser view) --------------------------------- */
body.template-notifications_center h1.documentFirstHeading,
body.template-notifications_center div#plone-document-byline,
body.template-notifications_center div.documentDescription.description {
  display: none;
}
